.webcam-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: beige;
    border-radius: 20px;
}

#capture-button {
    background-color: whitesmoke;
    margin-top: 10px;
    cursor: pointer;
}